*
!.gitignore
!README.md

# ===== NixOS =====

!nixos/
!nixos/**
/nixos/host.link

# ===== Shell =====

!fish/
!fish/**

!git/
!git/**

!starship.toml

# ===== Terminal =====

!fastfetch/
!fastfetch/**

!ghostty/
!ghostty/**

!helix/
!helix/**

!lazygit/
!lazygit/**

!nvim/
!nvim/**

!superfile/
!superfile/**

!yazi/
!yazi/**

# ===== Desktop =====

!fcitx5/
!fcitx5/config
!fcitx5/profile
!fcitx5/conf/
!fcitx5/conf/chttrans.conf
!fcitx5/conf/pinyin.conf
!fcitx5/conf/punctuation.conf

!systemd/
!systemd/user/
!systemd/user/*.service
!systemd/user/*.timer

!cosmic/
!cosmic/**

# ===== Applications =====

## GIMP
!GIMP/
!GIMP/3.0/

## Inkscape
!inkscape/
!inkscape/**

# Configuration (*.rc)

!GIMP/3.0/gimprc
!GIMP/3.0/colorrc
!GIMP/3.0/controllerrc
!GIMP/3.0/extensionrc
!GIMP/3.0/modifiersrc
!GIMP/3.0/profilerc
!GIMP/3.0/templaterc
!GIMP/3.0/theme.css
!GIMP/3.0/toolrc
!GIMP/3.0/unitrc

# Resources

!GIMP/3.0/brushes/
!GIMP/3.0/brushes/**

!GIMP/3.0/dynamics/
!GIMP/3.0/dynamics/**

!GIMP/3.0/fonts/
!GIMP/3.0/fonts/**

!GIMP/3.0/gradients/
!GIMP/3.0/gradients/**

!GIMP/3.0/palettes/
!GIMP/3.0/palettes/**

!GIMP/3.0/patterns/
!GIMP/3.0/patterns/**

!GIMP/3.0/plug-ins/
!GIMP/3.0/plug-ins/**

!GIMP/3.0/scripts/
!GIMP/3.0/scripts/**

!GIMP/3.0/splashes/
!GIMP/3.0/splashes/**

!GIMP/3.0/templates/
!GIMP/3.0/templates/**

!GIMP/3.0/themes/
!GIMP/3.0/themes/**

# Presets

!GIMP/3.0/tool-options/
!GIMP/3.0/tool-options/**

# ===== User Preferences =====

!justfile
